@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file (e.g., globals.css) */

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@font-face {
  font-family: 'General sans'; /* Choose a name for your font */
  src: url('/fonts/general-sans.woff') format('woff');
  font-weight: normal; /* Or 'normal' */
  font-style: normal;
  font-display: swap; /* Improves perceived performance */
}

/* Custom class for the complex blob styles */
.gradient-blob-mobile {
  /* Define CSS variables or hardcode values */
  --speed: 10s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  background-image: linear-gradient(#FD6D42, #FA175D);
  /* Gradient */
  animation: rotate var(--speed) var(--easing) alternate infinite;
  /* Animation */
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  /* Complex border-radius */
}

/* Custom class for the complex blob styles */
.gradient-blob-orange {
  /* Define CSS variables or hardcode values */
  --speed: 10s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  background-image: linear-gradient(#FD6D42, #FA175D);
  /* Gradient */
  animation: rotate var(--speed) var(--easing) alternate infinite;
  /* Animation */
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  /* Complex border-radius */
}

.gradient-blob-purple {
  /* Define CSS variables or hardcode values */
  --speed: 20s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  background-image: linear-gradient(#634A80, #FA175D);
  /* Gradient */
  animation: rotate var(--speed) var(--easing) alternate infinite;
  /* Animation */
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  /* Complex border-radius */
}

.animated-gradient-text {
  position: relative;
  display: inline;
  margin: 0 auto;
  flex-direction: row;
  border-radius: 1.25rem;
  /* 20px */
  font-weight: 500;
  backdrop-filter: blur(10px);
  transition: box-shadow 0.5s ease-out;
  overflow: hidden;
  cursor: pointer;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 300% 100%;
  animation: gradient linear infinite;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #060606;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-content {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient linear infinite;
}